:root{
  --color-principal: #2c3e50;
  --color-secundario: #d5eeff;
  --color-texto: #2c2c2c;
  --color-blanco: #fff;

  --fuente-principal: "Arial", sans-serif;
  --ancho-maximo: 900px;
}
body{
    font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: var(--color-texto);

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
header{
  text-align: center;
  background: var(--color-secundario);
  color: var(--color-blanco);
  padding: 20px;
  border-radius: 12px;
}